body {
  background: rgb(70, 142, 236);
  font: normal 15pt Arial;
  color: white;
}

header {
  text-align: center;
}

section {
  background: white;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  color: black;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}
#res {
  text-content: center;
}

#foto {
  display: flex;
  justify-content: center;
}
img {
  margin: 0 auto;
  max-width: 15rem;
  clip-path: circle();
}
footer {
  text-align: center;
  font-style: italic;
}
